<h2> <%= @restaurant.name %> </h2>
<h3><%= @restaurant.category %></h3>
<%= @restaurant.address %>
<br/>
<%= @restaurant.phone_number %>
<br/>
<br/>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li> <%= review.rating %> - <%= review.content %> </li>
  <% end %>
</ul>
<br/>
<%= link_to 'Ajouter un commentaire', new_restaurant_review_path(@restaurant.id)%>
<br/>
<%= link_to 'Retour à la liste', restaurants_path%>
