<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mt-5">
      <img src="../../assets/images/repas.jpeg" class="img-fluid" alt="Repas sur table">
      <h1 class="text-center mb-5">Les bonnes adresses de boustifaille</h1>
      <%= yield %>
    </div>
  </body>
</html>
